.title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.moviesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 20px;
    padding: 0;
    margin: 0;
}