@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  /* Paleta de Cores */
  --color-background: #141414;
  --color-surface: #1E1E1E;
  --color-primary: #E50914;
  --color-text-primary: #F5F5F5;
  --color-text-secondary: #A3A3A3;
  --color-border: #2d2d2d;

  /* Tipografia */
  --font-family: 'Poppins', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-background);
  color: var(--color-text-primary);
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}